
/* ************************************************************************************************
        PAGE mes commandes
************************************************************************************************ */

#history #center_column {
    width:712px;
    margin: 0 24px 0 12px;
}

#history #center_column .step .left-side {
    border-right: 1px solid #6E503B;
    margin-right: 20px;
}

#history #left_column .secondary-menu .secondary-menu-item {
    text-align: left;
}

#history #left_column .secondary-menu .secondary-menu-item a {
    padding-left: 5px;
}

#history #left_column .submenu-item {
    padding-left: 19px;
}

#history #empty-command {
    line-height: 24px;
    margin-top: 80px;
}
#history #empty-command span.img-warning {
    float: left;
    width: 29px;
    height: 24px;
    background: url('../img/img_solo/warning.png') no-repeat;
    margin-right: 15px;
}
#history #mes-commandes .left-side,
#history #mes-commandes .right-side {
    float: left;
    width: 45%;
    display: inline; /* ie */
}
#history #mes-commandes .left-side { margin-right: 10%; }

#history #mes-commandes h3 { 
    font-size: 14px;
    padding: 15px 0 0;
}

#history #mes-commandes p {
    margin-bottom: 8px;
}
#history #mes-commandes p .bold {
    margin-left: 10px;
}
#history #mes-commandes .commande-adresse p,
#history #mes-commandes .commande-adresse ul {
    float: left;
}
#history #mes-commandes .commande-adresse p {
    width: 130px;
}
#history #mes-commandes .right-side a,
#history #mes-commandes .left-side a {
    color: #4d9810;
    font-family: 'MyriadWebPro-Italic', Arial, sans-serif;
    display: block;
}

#history #commande-detail {
    padding: 20px 128px 10px;
}
#history #commande-detail h3 {
    font-size: 14px;

}
#history #commande-detail h4 {
    font-size: 15px;
    color: #4d9810;
    font-family: 'MyriadWebPro-Bold', Arial, sans-serif;
}
#history #commande-detail h4.detail-title {
    margin-top: 40px;
}
#history #commande-detail h5 {
    font-size: 14px;
    color: #342110;
    font-family: 'MyriadWebPro-Bold', Arial, sans-serif;
}
#history #commande-detail #facture-detail-table {
    width: 100%;
    margin-bottom: 13px;
}
#history #commande-detail #facture-detail-table tbody {
    border-top: 1px solid #8A7260;
    border-bottom: 1px solid #8A7260;
}
#history #commande-detail #facture-detail-table tbody tr.first {
    border-bottom: 1px solid #8A7260;
}
#history #commande-detail #facture-detail-table tbody td {
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #8A7260;
    border-top: 1px solid #8A7260;
}
#history #commande-detail #facture-detail-table tbody td.first {
    border-right: 1px solid #8A7260;
    padding: 5px 0;
}
#history #commande-detail h5,
#history #commande-detail ul,
#history #commande-detail p {
    margin-left: 5px;
    margin-bottom: 5px;
}
#history #detail-commande-table {
    width: 100%;
    margin-top: 30px;
}
#history #detail-commande-table td,
#history #detail-commande-table th {
    border: 1px solid #C8C2B9;
    text-align: center;
}
#history #detail-commande-table th {
    width: 60px;
    font: 13px 'MyriadWebPro-Italic', Arial, sans-serif;
    color: #fff;
    background: #70ac3e;
}
#history #detail-commande-table th.qte {
    width: 40px;
}
#history #detail-commande-table th.first {
    border-top: none;
    width: auto;
    background: none;
}
#history #detail-commande-table td.first,
#history #detail-commande-table th.first {
    border-left: none;
}
#history #detail-commande-table td.label-rouge {
    background: url('../img/img_solo/petit_label_rouge.png') no-repeat 9px;
    padding: 8px 8px 8px 54px;
    text-align: left;
    font: 13px 'MyriadWebPro-Bold', Arial, sans-serif;
}
#history #detail-commande-table tr {
    height: 36px;
}
#history #commande-detail #total {
    padding: 30px 0 0px 30px;
}
#history #commande-detail #total p {
    margin-bottom: 5px;
}
#history #commande-detail #total p.total {
    margin-top: 15px;
}
#history #commande-detail #total span.title {
    width: 220px;
    display: block;
    float: left;
}