#my-account #center_column {
    width:712px;
    margin: 0 24px 0 12px;
}

#my-account #center_column .step .left-side {
    border-right: 1px solid #6E503B;
    margin-right: 20px;
}

#my-account #left_column .secondary-menu .secondary-menu-item {
    text-align: left;
}

#my-account #left_column .secondary-menu .secondary-menu-item a {
    padding-left: 5px;
}

#my-account #left_column .submenu-item {
    padding-left: 19px;
}

/* ************************************************************************************************
        PAGE mon compte
************************************************************************************************ */
#my-account hr.mon-compte {
    margin-top: 80px;
}