#my-account #center_column {
    width:712px;
    margin: 0 24px 0 12px;
}

#my-account #center_column .step .left-side {
    border-right: 1px solid #6E503B;
    margin-right: 20px;
}

#my-account #left_column .secondary-menu .secondary-menu-item {
    text-align: left;
}

#my-account #left_column .secondary-menu .secondary-menu-item a {
    padding-left: 5px;
}

#my-account #left_column .submenu-item {
    padding-left: 19px;
}


/* ************************************************************************************************
        PAGE abonnement
************************************************************************************************ */
#my-account #center_column h2.green-title {
    margin-bottom: 0;
    line-height: 22px;
    font-weight: normal;
}
#my-account #abonnement-box {
    float: left;
    margin: 0 30px 10px 30px;
}
#my-account .img-step {
    display: block;
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 10px;
}

#my-account .img-step-1 { background: url('../img/img_solo/abonnement-1.png') no-repeat; }
#my-account .img-step-2 { background: url('../img/img_solo/abonnement-2.png') no-repeat; }
#my-account .img-step-3 { background: url('../img/img_solo/abonnement-3.png') no-repeat; }
#my-account .img-step-4 { background: url('../img/img_solo/abonnement-4.png') no-repeat; }

#my-account .step ul,
#my-account .step .left-side,
#my-account .step .right-side,
#my-account .step .left-side p,
#my-account .step .left-side ul {
    float: left;
}

#my-account .step .frequence-list {
    width: 115px;
    margin-left: 10px;
}

#my-account .step .left-side ul li {
    margin-bottom: 5px;
}

#my-account .step .left-side {
    width: 195px;
}

#my-account #center_column .step .left-side.last-step {
    width: auto;
    border: none;
    margin-right: 0;
}

#my-account .step .colis-label {
    margin-right: 20px;
}

#my-account .step .notes {
    margin: 20px 0;
    font-family: 'MyriadWebPro-Italic', Arial, sans-serif;
    font-size: 12px;
}

#my-account #step1 .right-side ul,
#my-account #step1 .right-side select,
#my-account #step1 .right-side label,
#my-account #step1 .right-side p {
    float: left;
}

#my-account #step1 .right-side {
    width: 445px;
}
.ie7 #my-account #step1 .right-side,
.ie7 #my-account #step1 .left-side {
    height: 102px;
}

#my-account #step1 .right-side label {
    width: 135px;
    margin-right: 20px;
}

#my-account #step1 .sbHolder{
    float: left;
    position: relative;
    width: 60px;
}
#my-account #step1 .sbOptions,
#my-account #step1 .sbSelector{
    width: 60px;
}

#my-account #step1 .right-side p {
    margin-top: 20px;
    line-height: 30px;
}

#my-account #step1 .right-side p .price {
    font-family: 'MyriadWebPro-Bold', Arial, sans-serif;
    color: #4d9810;
    font-size: 30px;
    margin-left: 10px;
}

#my-account #step2 .left-side {
    min-height: 116px;
    margin-bottom: 20px;
}

#my-account #step2 .right-side {
    width: 446px;
}

#my-account #step2 .left-side ul li {
    margin-bottom: 0px;
}

#my-account #step2 #form-adresse label,
#my-account #step2 #form-adresse input {
    display: block;
}

#my-account #step2 #form-adresse input {
    margin: 2px 0 10px 0;
    width: 170px;
}

#my-account #adress-submit {
    border: 1px solid #b83129;
    background: #ae2c25;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlMmMyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YTE3MTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ae2c25 0%, #8a1712 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae2c25), color-stop(100%,#8a1712));
    background: -webkit-linear-gradient(top,  #ae2c25 0%,#8a1712 100%);
    background: -o-linear-gradient(top,  #ae2c25 0%,#8a1712 100%);
    background: -ms-linear-gradient(top,  #ae2c25 0%,#8a1712 100%);
    background: linear-gradient(to bottom,  #ae2c25 0%,#8a1712 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae2c25', endColorstr='#8a1712',GradientType=0 );
    -webkit-box-shadow: inset 0 0 1px 1px #d44037;
            box-shadow: inset 0 0 1px 1px #d44037;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-family: 'MyriadWebPro-Semibold';
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    width: 106px !important;
    float: right;
    margin-right: 18px !important;
}

#my-account #villes,
#my-account #modify-address,
#my-account #cancel-address {
    color: #4d9810;
}

#my-account #step2 #saved-adresse,
#my-account #step2 #form-adresse {
    margin-bottom: 20px;
}

#my-account #step2 a {
    font-size: 12px;
    font-family: 'MyriadWebPro-Italic', Arial, sans-serif;
}

#my-account #villes-abonnees {
    display: none;
    background: url('../img/img_solo/popin-overlay.png') repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1337;
}

#my-account #villes-abonnees .popin {
    position: fixed;
    width: 286px;
    height: 280px;
    left: 50%;
    top: 50%;
    margin: -158px 0 0 -155px;
    background: url('../img/textures/fond-papier-clair.jpg') repeat-y 0 0;
    -moz-border-radius: 4px;
         border-radius: 4px;
    padding: 30px;
    border: 1px solid #bead9f;
}

#my-account #villes-abonnees .popin select {
    width: 286px;
    font-size: 16px;
}

#my-account #villes-abonnees .popin .popin-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 6px;
    background: url('../img/img_solo/popin-close.png') no-repeat;
}
#my-account #step3 .frequence-list span {
    float: left;
}
#my-account #step3 .frequence-list span.pronom {
    line-height: 27px;
}
#my-account #step3 .sbHolder {
    float: left;
    position: relative;
    width: 87px;
    margin-left: 5px;
}
#my-account #step3 .sbOptions,
#my-account #step3 .sbSelector {
    width: 87px;
}

#my-account #step4 ul {
    width: 565px;
    margin-left: 15px;
}

#my-account #step4 input {
    float: left;
}

#my-account #step4 label {
    float: left;
    max-width: 535px;
    width: 535px;
}

#my-account #abonnement-submit {
    width: 200px;
    display: block;
    margin: 35px auto;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: 'MyriadWebPro-Semibold', Arial, sans-serif;
    border: 1px solid #d44137;
    background: #b02c25;
    background: -moz-linear-gradient(top,  #e7665f 0%, #871711 62%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7665f), color-stop(62%,#871711));
    background: -webkit-linear-gradient(top,  #e7665f 0%,#871711 62%);
    background: -o-linear-gradient(top,  #e7665f 0%,#871711 62%);
    background: -ms-linear-gradient(top,  #e7665f 0%,#871711 62%);
    background: linear-gradient(to bottom,  #e7665f 0%,#871711 62%);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px #8f8f8f;        
       -moz-box-shadow: 3px 3px 5px 0px #8f8f8f;
         -o-box-shadow: 3px 3px 5px 0px #8f8f8f;
            box-shadow: 3px 3px 5px 0px #8f8f8f;
}

/* ************************************************************************************************
        PAGE mon compte
************************************************************************************************ */
#my-account hr.mon-compte {
    margin-top: 80px;
}