#product .big-bloc {
    padding: 14px;
}
#product #item {
    margin-top: 30px;
}
#product #product-image,
#product #main-product-infos {
    float: left;
}

#product #product-image {
    width: 177px;
    margin-right: 13px;
    padding-top: 4px;
}

#product #product-image img {
    border-top: 1px solid #a1968c;
    border-bottom: 1px solid #a1968c;
}

#product #main-product-infos {
    width: 293px;
}

#product #item h1 {
    font: 16px 'MyriadWebPro-Bold', Arial, sans-serif;
    color: #4d9810;
    text-decoration: none;
    margin-bottom: 4px;
}

#product .full-description {
    margin-bottom: 0;
    font: 13px 'MyriadWebPro-Italic', Arial, sans-serif;
}

#product .price-info {
    margin-bottom: 30px;
}

#product .choix-race {
    width: 177px;
    height: 27px;
    float: left;
    margin-right: 13px;
    padding-top: 138px;
}

#product .choix-race p {
    float: left;
    margin-right: 8px;
    line-height: 25px;
}

#product .sbHolder {
    float: left;
    position: relative;
    width: 138px;
}

#product .sbOptions { width: 138px; }
#product .sbSelector { width: 108px; }

#product .add-to-basket-form {
    width: 293px;
    padding-top: 50px;
    float: left;
}

#product .add-to-basket-form.alerte { padding-top: 0; }

#product .add-to-basket-form .alerte-message {
    height: 45px;
}

#product .add-to-basket-form .alerte-message p { margin: 5px auto 0; color: #d44137; }

#product .add-to-basket-form .alerte-message span.img-warning {
    float: left;
    width: 29px;
    height: 24px;
    background: url('../img/img_solo/warning.png') no-repeat;
    margin: 5px 12px 0 0;
}

#product .add-to-basket-form .label {
    float: left;
    margin-left: 3px;
    width: 53px;
    height: 64px;
}

#product .add-to-basket-form .detailed-price {
    height: 64px;
    margin-left: 16px;
    float: left;
}

#product .add-to-basket-form .detailed-price .price {
    font-family: 'MyriadWebPro-Bold';
    color: #4d9810;
    font-size: 30px;
    margin-bottom: 5px;
}

#product .add-to-basket-form .detailed-price.promo { position: relative; }
#product .add-to-basket-form .detailed-price.promo .reduction { 
    position: absolute;
    border: 1px solid #4d9810;
    color: #4d9810;
    font: 13px 'MyriadWebPro-Bold', Arial, sans-serif;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #fff;
    width: 40px;
    left: 50%;
    top: -20px;
    margin-left: -15px;
}

#product .add-to-basket-form .detailed-price.promo .old-price,
#product .add-to-basket-form .detailed-price.promo .new-price {
    height: 64px;
    width: 50%;
    float: left;
    text-align: center;
    
}

.ie7 #product .add-to-basket-form .detailed-price.promo .old-price,
.ie7 #product .add-to-basket-form .detailed-price.promo .new-price {
    width: 49%;
}

#product .add-to-basket-form .detailed-price.promo .old-price {
    text-decoration: line-through;
    color: #4d9810;
}

#product .add-to-basket-form .detailed-price.promo .old-price .price {
    color: #ab9583;
}

#product .add-to-basket-form .detailed-price.promo .old-price .price-kg {
    color: #342110;
}

#product .form-panier {
    margin-top: 18px;
}

#product .form-panier input {
    line-height: 32px;
    margin-top: 1px;
}
.ie7 #product .form-panier input,
.ie8 #product .form-panier input {
    height: 32px;
}

#product .img-cuisson {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 21px;
    background: url('../img/img_solo/mode-cuisson.png') no-repeat;
}

#product .mode-cuisson {
    font-family: 'MyriadWebPro-Italic', Arial, sans-serif;
    font-size: 13px;
}

#product .jours {
    border-right: 1px solid #342110;
}

#product .misc-infos {
    margin: 20px 0;
    zoom: 1;
}

#product .misc-infos p {
    width: 33%;
    margin-bottom: 0;
}

#product span.img-mot-eleveur,
#product span.img-idees-recettes,
#product span.img-trucs-astuces {
    float: left;
    display: inline; /* ie */
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

#product span.img-mot-eleveur {
    background: url('../img/img_solo/mot-eleveur.png') no-repeat;
}

#product span.img-idees-recettes {
    background: url('../img/img_solo/idees-recettes.png') no-repeat;
}

#product span.img-trucs-astuces {
    background: url('../img/img_solo/trucs-astuces.png') no-repeat;
}

#product h2 {
    font: 16px 'MyriadWebPro-Italic', Arial, sans-serif;
    margin-left: 5px;
    color: #604e3e;
    line-height: 28px;
    margin-bottom: 5px;
    padding: 0;
}

#product h4,
#product h3 {
    font: 14px 'MyriadWebPro', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#product h4 {
    margin-bottom: 10px;
}

#product #idees-recettes ul {
    padding-left: 10px;
    margin-bottom: 10px;
}

#product #idees-recettes ul.ingredients {
    width: 466px;
    position: relative;
    zoom: 1;
}

#product #idees-recettes ul.recette {
    position: relative;
    zoom: 1;
}

#product #idees-recettes li {
    position: relative;
    font: 14px 'MyriadWebPro-Italic', Arial, sans-serif;
    margin-bottom: 15px;
}

#product #idees-recettes ul.ingredients li {
    width: 227px;
    float: left;
    display: inline;
    margin-bottom: auto;
}

#product #idees-recettes li a {
    position: absolute;
    top: 0;
    right: 0;
    color: #4d9810;
}

#product .intitule,
#product .difficulte_level {
    float: left;
    color: #4d9810;
}

#product .difficulte_level { width: 56px; height: 12px; margin: 2px 0 0 5px; font-size: 0; text-indent: 99999px; }

#product .difficulte_0 { background: url('../img/img_solo/small_star_0.png') no-repeat; }
#product .difficulte_1 { background: url('../img/img_solo/small_star_1.png') no-repeat; }
#product .difficulte_2 { background: url('../img/img_solo/small_star_2.png') no-repeat; }
#product .difficulte_3 { background: url('../img/img_solo/small_star_3.png') no-repeat; }
#product .difficulte_4 { background: url('../img/img_solo/small_star_4.png') no-repeat; }
#product .difficulte_5 { background: url('../img/img_solo/small_star_5.png') no-repeat; }

